<div class="info panel">
  <div class="panel-heading">
    <div class="dropdown is-hoverable"> 
      <div class="dropdown-trigger">
        <button class="button is-small is-text" aria-haspopup="true" aria-controls="dropdown-menu">
          <!-- <span>Dropdown button</span> -->
          <span class="icon is-small">
            <i class="fa-solid fa-house" aria-hidden="true"></i>
          </span>
          <span class="icon is-small">
            <i class="fa-solid fa-caret-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="javascript:void(0)" class="dropdown-item" (click)="handleLogin()" #loginLink>Login</a>
          <a href="javascript:void(0)" class="dropdown-item" (click)="handleSignout()" #signoutLink>Sign Out</a>
        </div>
      </div>
    </div>
</div>