<div class="info panel">
  <div class="panel-heading">
    <a class="button is-rounded is-small" href="https://github.com/ryanmz1/wilmon-travel-service">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span>
      <span>GitHub</span>
    </a>
    <div class="dropdown is-right is-hoverable pull-right">
      <div class="dropdown-trigger">
        <button class="button is-small is-text" aria-haspopup="true" aria-controls="dropdown-menu">
          <!-- <span>Dropdown button</span> -->
          <span class="icon is-small">
            <i class="fa-solid fa-house" aria-hidden="true"></i>
          </span>
          <span class="icon is-small">
            <i class="fa-solid fa-caret-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <!-- <a *ngIf="!(authStoreService.auth.isAuthenticated$ | async)" href="javascript:void(0)" class="dropdown-item" (click)="handleSignUp()" #signUpLink>Sign up</a> -->
          <a *ngIf="!(authStoreService.auth.isAuthenticated$ | async)" href="javascript:void(0)" class="dropdown-item" (click)="handleLogin()" #loginLink>Log in</a>
          <a *ngIf="authStoreService.auth.isAuthenticated$ | async" href="javascript:void(0)" class="dropdown-item" (click)="handleSignout()" #signoutLink>Sign out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-block panel-body">
    <!-- <div class="box">
      I'm in a box.
    </div> -->
    <div class="well well-sm notifi">
      <!-- Primar lorem ipsum dolor sit amet, consectetur
      adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. -->
      Welcome! Click the map to set your pickup location.
    </div>
  </div>
</div>