<div class="modal" #modeModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Welcome to Wilmon Tour</p>
      <!-- <button class="delete" aria-label="close"></button> -->
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="well">
        <p>Wilmon Tour is a game...<br>You need to choose a mode to continue! <br>&nbsp;&nbsp;- User Mode: <br>&nbsp;&nbsp;- Visitor Mode: 
        </p>
      </div>
      <button id="userMode" class="button block is-fullwidth is-info is-outlined" (click)="handleMode('user')">User Mode</button>
      <button id="visitorMode" class="button block is-fullwidth is-info is-outlined" (click)="handleMode('visitor')">Visitor Mode</button>
    </section>
    <footer class="modal-card-foot block-right">
    </footer>
  </div>
</div>
<app-login></app-login>
<div class="modal" #signupModal></div>
<p>auth works</p>