<div class="modal" #modeModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Welcome to Wilmon Travel</p>
      <!-- <button class="delete" aria-label="close"></button> -->
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <!-- <div class="well">
        <p>Wilmon Tour is a game...<br>You need to choose a mode to continue! <br>&nbsp;&nbsp;- User Mode: <br>&nbsp;&nbsp;- Visitor Mode: 
        </p>
      </div> -->
      <div class="notification is-info is-light">
        Wilmon Tour is a game...<br>You need to choose a mode to continue! <br>&nbsp;&nbsp;- User Mode: <br>&nbsp;&nbsp;- Guest Mode: 
      </div>
      <button id="userMode" class="button block is-fullwidth is-info hover-change" (click)="handleMode('user')">Log In to User Mode</button>
      <button id="guestMode" class="button block is-fullwidth is-info hover-change" (click)="handleMode('guest')">Guest Mode</button>
    </section>
    <footer class="modal-card-foot block-right">
    </footer>
  </div>
</div>